.card {
    border: var(--border);
    padding: var(--spacing-std);
    /*box-shadow: var(--glow);*/
    border-radius: var(--radius-tech);
    color: var(--text-main);
    background-color: var(--bg-card);
    display: flex;
    justify-content: space-between;
    position: relative;
}

.taskInfo {
    display: grid;
    gap: .5rem;
}

.taskInfo h3 {
    overflow-wrap: anywhere;
}

.taskMetrics {
    display: grid;
    gap: .5rem;
}

.gravity {
    background-color: var(--g-low); /* Cor variável conforme a gravidade */
    color: var(--bg-page); /* Texto na cor do fundo para contraste */
    
    /* O Formato Mágico */
    clip-path: polygon(15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
    
    /* Ajustes de layout */
    padding: 6px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace; /* Fonte técnica */
}

.taskMetrics div {
    display: flex;
}

.btnContainer {
    justify-self: flex-end;
    margin-right: 1rem;
}

.btnDone {
  color: var(--text-secondary);
  transition: var(--transition-warp);
  margin-right: .5rem;
}

.btnDone:hover {
  color: var(--accent); /* O raio brilha com a cor do tema */
  filter: drop-shadow(0 0 5px var(--accent)); /* Efeito neon */
}

.btnDelete:hover {
  color: var(--action-delete); /* A lixeira fica vermelha no hover */
  filter: drop-shadow(0 0 5px var(--action-delete));
}

.astro {
    font-size: 2rem;
    margin-right: 1rem;
}

@media screen and (min-width: 768px) {
    .gravity::before {
        content: "Gravidade: ";
        text-transform: capitalize;
    }
}