.container {
    padding: var(--spacing-std);
}

.form {
    grid-area: form;
    padding: var(--spacing-std);
    background-color: var(--bg-card);
    color: var(--text-main);
    width: 100%;
    max-width: 800px;
    margin: auto;
    border-radius: var(--radius-tech);
    box-shadow: 0 0 5px var(--g-low);
}

@media screen and (min-width: 768px) {
    .form {
        padding: calc(var(--spacing-std) * 2);
    }
}