.taskErrorModal {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 7;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(5px);
    animation: displayin 1s linear forwards;
    display: grid;
    place-items: center;
}

.errorDisplayOff {
    animation: displayoff 1s linear forwards;
}

@keyframes displayin {
    from {
        transform: scale(.2);
        opacity: 0;
    } to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes displayoff {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(.2);
        opacity: 0;
    }
}