.dashboard {
    grid-area: dashboard;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: var(--spacing-std);
    background-color: var(--bg-card);
}

.logo {
    font-size: 2rem;
}

.buttonNewTask {
    border: 1px solid black;
    padding: .5rem 0;
    width: 70px;
    border-radius: 5px;
    font-size: 1.4rem;
}

.cornerButtonsContainer {
    display: flex;
    align-items: center;
    gap: 0 .7rem;
}

.cornerButtons {
    font-size: 1.2rem;
}