.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "dashboard"
        "form"
        "tasklist"
    ;
    gap: 1rem;
    place-content: center;
}