.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "dashboard"
        "form"
        "tasklist"
    ;
    gap: var(--spacing-std);
    place-content: center;
    background-color: var(--bg-page);
}