.list {
    grid-area: tasklist;
    padding: var(--spacing-std);
    gap: var(--spacing-std);
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    max-width: 800px;
    margin: 3rem auto 0 auto;
}